* {
  box-sizing: border-box;
}

html {
  color: #fff;
  background: linear-gradient(to right, #e55d87, #5fc3e4);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.page-content {
  width: 600px;
  margin: 50px auto;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1.5px;
}

/* SEARCH BAR */

.search-bar {
  margin: 20px 0;
  display: flex;
  position: relative;
}

.search-bar > * {
  height: 50px;
  color: #fff;
  font-size: 18px;
  background-color:rgba(255,255,255, 0.1);
  border: 1px solid transparent;
  border-radius: 5px;
}

.search-bar > *:hover,
.search-bar > *:focus {
  background-color:rgba(255,255,255, 0.3);
}

.search-bar .btn-star {
  width: 50px;
  cursor: pointer;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  margin: 0 5px;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}

.search-bar input[type="text"]::placeholder {
  color: rgba(255,255,255, 0.4);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.search-bar .icon-search {
  position: absolute;
  right: 70px;
  top: 15px;
  background-color: transparent;
  pointer-events: none;
}

.search-bar select {
  width: 50px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

/* TODAY FORECAST */

.today-forecast.active {
  padding: 20px;
  background-color:rgba(255,255,255, 0.1);
  border: 1px solid transparent;
  border-radius: 5px;
}

.today-forecast .city {
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  overflow: scroll;
  border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.today-forecast .container {
  display: flex;
  justify-content: space-between;
}

.today-forecast .wrapper {
  display: flex;
  flex-direction: column;
}

.today-forecast .current-day {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.today-forecast .date {
  display: block;
  margin-bottom: 20px;
}

.today-forecast .wind {
  margin-bottom: 20px;
}

.today-forecast img {
  width: 200px;
}

.today-forecast .weather {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.today-forecast .temperature {
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

.today-forecast .min_temperature {
  margin-right: 20px;
}

.today-forecast .current-temperature {
  margin: auto 0;
  font-size: 100px;
}

.week-forecast.active {
  margin-top: 20px;
  display: flex;
  background-color:rgba(255,255,255, 0.1);
  border: 1px solid transparent;
  border-radius: 5px;
}

.week-forecast .day-forecast {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.week-forecast .day-forecast:hover {
  cursor: pointer;
  background-color:rgba(255,255,255, 0.3);
}

.week-forecast .day {
  text-transform: uppercase;
}

.week-forecast img {
  width: 50px;
  margin: 10px 0;
}
